header{
  display: flex;
  width: 80%;
  max-width: 1366px;
  margin-inline: auto;
  padding-block: 5%;
  gap: .75rem;
  align-items: center;
}

@media (width < 80em) {
  header{
    justify-content: center;
  }
}